<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       ChatComplete: Using externaly hosted LLMs from Vantage
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>

# Working with Language Models in Teradata: CompleteChat in-DB function

This notebook demonstrates **Design Pattern 3** for integrating Large Language Models with Teradata — making API calls to external inference servers directly from SQL queries. **Available from Teradata Version 16.20**.

**Teradata's Three Design Patterns for LLMs:**
- **Design Pattern 1:** Run small models directly on AMP CPUs for maximum performance with lightweight models that fit in memory.
- **Design Pattern 2:** Deploy containerized models using the Open Analytics Framework (OAF) for medium-sized models requiring isolated execution environments.
- **Design Pattern 3:** Call external inference servers via API for large models (OpenAI, Azure OpenAI, Ollama, NVIDIA Triton) that are too large to run locally or require specialized hardware.

**Why Design Pattern 3 with CompleteChat:**
- Leverage Teradata's MPP architecture where each AMP processes its data partition and makes parallel API calls to the LLM service, dramatically accelerating throughput compared to sequential processing.
- Keep your data in Teradata throughout the entire workflow — no need to use glueware for external processing, maintaining security and governance controls.
- Integrate LLM inference seamlessly into SQL-based ETL pipelines using familiar syntax and standard database operations.
- Connect to any OpenAI-compatible API endpoint, giving you flexibility to use commercial providers or self-hosted open-source models.
- Built-in rate limiting, retry logic, and error handling ensure reliable batch processing at scale.

**Use Cases:**
Text summarization, sentiment analysis, classification, entity extraction, content generation, and any scenario where you need to enrich structured data with LLM-powered insights.

# Python Package imports

In [1]:
import getpass
import os

In [2]:
from complete_chat_src.vars import (
    DB_set_HOST, DB_set_USER, DB_set_DBC_PW, DB_set_USER_PW,set_OpenAI_key )

In [3]:
DB_set_HOST("host.docker.internal")

DB_set_USER("demo_user")

<div class="alert alert-block alert-info">
<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b>TO DO: </b><i>Enter Your Teradata Password on ClearScape Analytics Experience. It also happens that this is the dbc password.</i></p>
</div>

In [4]:
p = getpass.getpass("DB Password: ")
DB_set_DBC_PW(p)
DB_set_USER_PW(p)
del p

<div class="alert alert-block alert-info">
<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b>TO DO: </b><i>Enter a valid OpenAI API key. You can create one here: https://platform.openai.com/api-keys</i></p>
</div>

In [5]:
set_OpenAI_key(getpass.getpass("OpenAI Key"))

# Installation of CompleteChat in-DB function

For Details inspect Source Files

In [6]:
from complete_chat_src.install_completechat import (
    install_CompleteChat,
    grant_execution_rights
)

In [7]:
install_CompleteChat()

Number of AMPs: 4
Creating database openai_client with PERM = 32000000
Database openai_client created and permissions granted
Installing JAR file...
JAR installed successfully
Creating CompleteChat function...
CompleteChat function created successfully in openai_client

Installation complete!

In [8]:
grant_execution_rights(target_database="demo_user")

Granting execution rights on openai_client.CompleteChat to demo_user...
Execution rights granted successfully to demo_user

# Dummy Data Upload

We use some dummy data to showcase five different use cases.

In [9]:
from complete_chat_src.upload_sample_data import upload_sample_data

In [10]:
upload_sample_data()

Creating table demo_user.input_text_classification...
Batch inserting 5 rows into input_text_classification...
Table input_text_classification created and populated successfully
Creating table demo_user.input_sentiment_analysis...
Batch inserting 5 rows into input_sentiment_analysis...
Table input_sentiment_analysis created and populated successfully
Creating table demo_user.input_summarization...
Batch inserting 5 rows into input_summarization...
Table input_summarization created and populated successfully
Creating table demo_user.input_named_entity_recognition...
Batch inserting 5 rows into input_named_entity_recognition...
Table input_named_entity_recognition created and populated successfully
Creating table demo_user.input_translation...
Batch inserting 5 rows into input_translation...
Table input_translation created and populated successfully

All tables created successfully: input_text_classification, input_sentiment_analysis, input_summarization, input_named_entity_recognition, input_translation

# Database connection

In [11]:
try:
    import tdmlplus
except ImportError:
    !pip install teradataml-plus
    import tdmlplus
import teradataml as tdml

In [12]:
tdml.create_context(os.getenv("TD_HOST"),os.getenv("TD_USER"),os.getenv("TD_USER_PASSWORD"))

Engine(teradatasql://demo_user:***@host.docker.internal)

Here is the input data we have just uploaded

In [13]:
tdml.widgets.tab_dfs(table_names=["input_text_classification","input_sentiment_analysis","input_summarization","input_named_entity_recognition","input_translation"])

# Function Template

This functions is now the python wrapper/template around the previously installed CompleteChat function

In [15]:
def completeChat_query(system_message, table, model="gpt-5-nano", api_key=None, json_keys=[]):
    """
    Generate a SQL query string for Teradata's CompleteChat function with optional JSON parsing.
    
    This function constructs a SQL query that calls the CompleteChat table operator to perform
    LLM inference on data stored in Teradata tables. It automatically handles JSON response
    parsing when structured output is expected from the language model.
    
    The generated query leverages Teradata's MPP architecture to process rows in parallel,
    with each AMP making independent API calls to the OpenAI-compatible inference server.
    
    Args:
        system_message (str): The system role message that sets the context and behavior
            for the LLM. This message guides how the model should respond to user prompts.
            Single quotes in the message are automatically escaped for SQL safety.
        
        table (str): The fully qualified name of the input Teradata table (e.g., 
            'database.schema.tablename'). This table must contain a column named 'txt'
            with the user prompts/messages to send to the LLM.
        
        model (str, optional): The name of the language model to use for inference.
            Defaults to "gpt-5-nano". Must be a valid model available on the specified
            inference server.
        
        api_key (str, optional): The API key for authentication with the inference server.
            If not provided, attempts to read from the OPENAI_API_KEY environment variable.
            The key is passed as a Bearer token in the Authorization header.
        
        json_keys (list of str, optional): A list of JSON keys to extract from the model
            response. If provided, the query will:
            1. Check if the response is valid JSON using Teradata's JSON_CHECK function
            2. Create an 'is_a_JSON' column (1=valid JSON, 0=invalid, NULL=null response)
            3. Extract each specified key into a separate column named '{key}_txt'
            
            This is useful when you configure the LLM to return structured JSON output,
            allowing you to parse specific fields directly in SQL. Each extracted value
            is returned as VARCHAR(1000).
            
            Example: json_keys=['sentiment', 'category'] creates columns:
                - is_a_JSON
                - sentiment_txt
                - category_txt
    
    Returns:
        str: A complete SQL query string that can be executed against Teradata to perform
            LLM inference on the input table. The query returns all original columns from
            the input table plus 'response_txt' (the LLM response) and any additional
            JSON parsing columns if json_keys were specified.
    
    Example:
        >>> # Basic usage - sentiment analysis
        >>> query = completeChat_query(
        ...     system_message="Analyze the sentiment as positive, negative, or neutral.",
        ...     table="customer_db.feedback",
        ...     model="gpt-4",
        ...     api_key="sk-..."
        ... )
        >>> # Execute: cursor.execute(query)
        
        >>> # Advanced usage - structured JSON output
        >>> query = completeChat_query(
        ...     system_message="Return JSON with 'sentiment' and 'urgency' fields.",
        ...     table="support_db.tickets",
        ...     model="gpt-4",
        ...     json_keys=['sentiment', 'urgency']
        ... )
        >>> # Returns columns: original table columns + response_txt + is_a_JSON + 
        >>> # sentiment_txt + urgency_txt
    
    Notes:
        - The function automatically escapes single quotes in system_message for SQL safety
        - The input table must have a 'txt' column containing the prompts
        - JSON extraction only occurs when is_a_JSON=1 (valid JSON response)
        - Uses Teradata's JSON_CHECK and JSONGETVALUE functions for JSON handling
        - The CompleteChat function must be installed as openai_client.CompleteChat
        - BaseURL is hardcoded to 'https://api.openai.com' for OpenAI's API
    
    See Also:
        Teradata JSON functions documentation:
        - JSON_CHECK: https://docs.teradata.com/r/Enterprise_IntelliFlex_VMware/JSON-Data-Type/JSON-Functions-and-Operators/JSON_CHECK
        - JSONGETVALUE: https://docs.teradata.com/r/Enterprise_IntelliFlex_VMware/JSON-Data-Type/JSON-Functions-and-Operators/JSONGETVALUE
    """
    api_key = api_key or os.getenv("OPENAI_API_KEY")
    
    # Escape single quotes for SQL safety by doubling them (SQL standard)
    safe_message = system_message.replace("'", "''")
    
    # Build the JSON validation column using Teradata's JSON_CHECK function
    # JSON_CHECK returns 'OK' for valid JSON, NULL for NULL input, or an error message
    # https://docs.teradata.com/r/Enterprise_IntelliFlex_VMware/JSON-Data-Type/JSON-Functions-and-Operators/JSON_CHECK
    json_check_col = """
    ,CASE WHEN JSON_CHECK(response_txt) = 'OK' THEN 1 
          WHEN JSON_CHECK(response_txt) IS NULL THEN NULL 
          ELSE 0 
     END AS is_a_JSON"""
    
    # Build extraction columns for each JSON key when structured output is expected
    # Uses JSONGETVALUE to extract specific fields from the JSON response
    # https://docs.teradata.com/r/Enterprise_IntelliFlex_VMware/JSON-Data-Type/JSON-Functions-and-Operators/JSONGETVALUE
    extraction_cols = []
    for key in json_keys:
        col_name = f"{key}_txt"
        # Only extract values if the response is valid JSON (is_a_JSON = 1)
        extraction_col = f"""
    ,CASE WHEN is_a_JSON = 1 
          THEN JSONGETVALUE(NEW JSON(response_txt), '$.{key}' AS VARCHAR(1000)) 
          ELSE NULL 
     END AS {col_name}"""
        extraction_cols.append(extraction_col)
    
    # Combine all additional columns (JSON check + extractions)
    additional_cols = ""
    if json_keys:
        additional_cols = json_check_col + "".join(extraction_cols)
    
    # Construct the complete SQL query
    # The CompleteChat function processes each row in parallel across Teradata AMPs
    return f"""
    SELECT
        a.*
        {additional_cols}
    FROM
        openai_client.CompleteChat(
            ON {table}
            USING
                BaseURL('https://api.openai.com')
                SystemMessage('{safe_message}')
                Model('{model}')
                ApiKey('{api_key}')
        ) a
    """

# Five different Use Cases

In [16]:
import json
from pathlib import Path

path = Path("complete_chat_src/sample_data.json")
with open(path, "r", encoding="utf-8") as f:
    data = json.load(f)

prompts = {key:data[key]["prompt"] for key in data.keys()}

In [17]:
from pprint import pprint


pprint(prompts)

{'named_entity_recognition': 'Extract all named entities (people, '
                             'organizations, locations, dates, products) from '
                             'the following text. Respond in JSON with lists '
                             'under each entity type: ',
 'sentiment_analysis': 'Analyze the sentiment of the following text. Respond '
                       "in JSON with keys 'sentiment' (positive, neutral, "
                       "negative) and 'confidence': ",
 'summarization': 'Summarize the following text in one concise sentence: ',
 'text_classification': 'Classify the following text into one of the '
                        "predefined categories: ['IT Support', 'HR Request', "
                        "'Marketing', 'System Notification', 'Procurement']. "
                        "Respond in JSON with keys 'category' and "
                        "'confidence': ",
 'translation': 'Translate the following text into English: '}

## Use Case 1: Text Classification

In [18]:
task = "text_classification"

In [19]:
table_name = "input_"+task
this_prompt = prompts[task]
print(this_prompt)
json_keys = ["category","confidence"]

Classify the following text into one of the predefined categories: ['IT Support', 'HR Request', 'Marketing', 'System Notification', 'Procurement']. Respond in JSON with keys 'category' and 'confidence':

In [22]:
this_query = completeChat_query(
            system_message=this_prompt, 
            table= table_name,
            json_keys=json_keys
           )

In [23]:
print(this_query.replace(os.getenv("OPENAI_API_KEY"),"<OPENAI_API_KEY>"))

    SELECT
        a.*

    ,CASE WHEN JSON_CHECK(response_txt) = 'OK' THEN 1
          WHEN JSON_CHECK(response_txt) IS NULL THEN NULL
          ELSE 0
     END AS is_a_JSON
    ,CASE WHEN is_a_JSON = 1
          THEN JSONGETVALUE(NEW JSON(response_txt), '$.category' AS VARCHAR(1000))
          ELSE NULL
     END AS category_txt
    ,CASE WHEN is_a_JSON = 1
          THEN JSONGETVALUE(NEW JSON(response_txt), '$.confidence' AS VARCHAR(1000))
          ELSE NULL
     END AS confidence_txt
    FROM
        openai_client.CompleteChat(
            ON input_text_classification
            USING
                BaseURL('https://api.openai.com')
                SystemMessage('Classify the following text into one of the predefined categories: [''IT Support'', ''HR Request'', ''Marketing'', ''System Notification'', ''Procurement'']. Respond in JSON with keys ''category'' and ''confidence'': ')
                Model('gpt-5-nano')
                ApiKey('<OPENAI_API_KEY>')
        ) a

In [24]:
tdml.DataFrame.from_query(this_query).to_sql(
    table_name= "output_"+task, 
    if_exists = "replace", 
    primary_index="row_id")

In [25]:
tdml.DataFrame("output_"+task)

                                                                          txt                                             response_txt  is_a_JSON         category_txt confidence_txt
row_id
1             Customer reported a payment failure while using the mobile app.            {"category": "IT Support", "confidence": 0.8}          1           IT Support            0.8
4                       System alert: Database backup completed successfully.  {"category": "System Notification", "confidence": 0.92}          1  System Notification           0.92
2           Employee requests additional training resources for new software.           {"category": "IT Support", "confidence": 0.72}          1           IT Support           0.72
3       Website traffic increased after launching the new marketing campaign.            {"category": "Marketing", "confidence": 0.92}          1            Marketing           0.92
5                             Supplier submitted an invoice for Q3 materials.          {"category": "Procurement", "confidence": 0.82}          1          Procurement           0.82

## Use Case 2: Summarization

In [26]:
task = "summarization"

In [27]:
table_name = "input_"+task
this_prompt = prompts[task]
print(this_prompt)
json_keys = []

Summarize the following text in one concise sentence:

In [28]:
this_query = completeChat_query(
            system_message=this_prompt, 
            table= table_name,
            json_keys=json_keys
           )

In [29]:
print(this_query.replace(os.getenv("OPENAI_API_KEY"),"<OPENAI_API_KEY>"))

    SELECT
        a.*

    FROM
        openai_client.CompleteChat(
            ON input_summarization
            USING
                BaseURL('https://api.openai.com')
                SystemMessage('Summarize the following text in one concise sentence: ')
                Model('gpt-5-nano')
                ApiKey('<OPENAI_API_KEY>')
        ) a

In [30]:
tdml.DataFrame.from_query(this_query).to_sql(
    table_name= "output_"+task, 
    if_exists = "replace", 
    primary_index="row_id")

In [31]:
tdml.DataFrame("output_"+task)

                                                                                                                                        txt                                                                                                   response_txt
row_id
1       The quarterly report highlights strong growth in the Asia-Pacific region driven by increased demand for renewable energy solutions.  The quarterly report shows strong Asia-Pacific growth driven by rising demand for renewable energy solutions.
4                                     Researchers discovered a promising compound that may significantly improve cancer treatment outcomes.        Researchers have found a promising compound that could significantly improve cancer treatment outcomes.
2                       The city council approved a new public transportation plan that aims to reduce emissions and improve commute times.                 The city council approved a public transit plan to reduce emissions and improve commute times.
3                        After months of negotiations, the company announced a merger that will expand its presence in the European market.                  The company announced a merger after months of negotiations to expand its presence in Europe.
5                                    A severe storm caused widespread power outages, prompting emergency services to work around the clock.         A severe storm caused widespread power outages, prompting emergency services to work around the clock.

## Use Case 3: Sentiment Analysis

In [32]:
task = "sentiment_analysis"

In [33]:
table_name = "input_"+task
this_prompt = prompts[task]
print(this_prompt)
json_keys = ["sentiment","confidence"]

Analyze the sentiment of the following text. Respond in JSON with keys 'sentiment' (positive, neutral, negative) and 'confidence':

In [34]:
this_query = completeChat_query(
            system_message=this_prompt, 
            table= table_name,
            json_keys=json_keys
           )

In [35]:
print(this_query.replace(os.getenv("OPENAI_API_KEY"),"<OPENAI_API_KEY>"))

    SELECT
        a.*

    ,CASE WHEN JSON_CHECK(response_txt) = 'OK' THEN 1
          WHEN JSON_CHECK(response_txt) IS NULL THEN NULL
          ELSE 0
     END AS is_a_JSON
    ,CASE WHEN is_a_JSON = 1
          THEN JSONGETVALUE(NEW JSON(response_txt), '$.sentiment' AS VARCHAR(1000))
          ELSE NULL
     END AS sentiment_txt
    ,CASE WHEN is_a_JSON = 1
          THEN JSONGETVALUE(NEW JSON(response_txt), '$.confidence' AS VARCHAR(1000))
          ELSE NULL
     END AS confidence_txt
    FROM
        openai_client.CompleteChat(
            ON input_sentiment_analysis
            USING
                BaseURL('https://api.openai.com')
                SystemMessage('Analyze the sentiment of the following text. Respond in JSON with keys ''sentiment'' (positive, neutral, negative) and ''confidence'': ')
                Model('gpt-5-nano')
                ApiKey('<OPENAI_API_KEY>')
        ) a

In [36]:
tdml.DataFrame.from_query(this_query).to_sql(
    table_name= "output_"+task, 
    if_exists = "replace", 
    primary_index="row_id")

In [37]:
tdml.DataFrame("output_"+task)

                                                                  txt                                            response_txt  is_a_JSON sentiment_txt confidence_txt
row_id
3       Customer support was okay, but response time could be faster.           {"sentiment": "negative", "confidence": 0.66}          1      negative           0.66
2        I’m disappointed with the quality of the product I received.           {"sentiment": "negative", "confidence": 0.92}          1      negative           0.92
1             The new feature is fantastic! It saves me so much time.              {"sentiment":"positive","confidence":0.92}          1      positive           0.92
5                    Everything worked as expected, no issues at all.  {\n  "sentiment": "positive",\n  "confidence": 0.92\n}          1      positive           0.92
4                  The app crashes every time I try to upload a file.  {\n  "sentiment": "negative",\n  "confidence": 0.92\n}          1      negative           0.92

## Use Case 4: Named Entity Recognition

In [38]:
task = "named_entity_recognition"

In [39]:
table_name = "input_"+task
this_prompt = prompts[task]
print(this_prompt)
json_keys = []

Extract all named entities (people, organizations, locations, dates, products) from the following text. Respond in JSON with lists under each entity type:

In [40]:
this_query = completeChat_query(
            system_message=this_prompt, 
            table= table_name,
            json_keys=json_keys
           )

In [41]:
print(this_query.replace(os.getenv("OPENAI_API_KEY"),"<OPENAI_API_KEY>"))

    SELECT
        a.*

    FROM
        openai_client.CompleteChat(
            ON input_named_entity_recognition
            USING
                BaseURL('https://api.openai.com')
                SystemMessage('Extract all named entities (people, organizations, locations, dates, products) from the following text. Respond in JSON with lists under each entity type: ')
                Model('gpt-5-nano')
                ApiKey('<OPENAI_API_KEY>')
        ) a

In [42]:
tdml.DataFrame.from_query(this_query).to_sql(
    table_name= "output_"+task, 
    if_exists = "replace", 
    primary_index="row_id")

In [43]:
tdml.DataFrame("output_"+task)

                                                                                                   txt                                                                                                                                                response_txt
row_id
1       Apple Inc. announced a new partnership with the University of Cambridge in the United Kingdom.  {\n  "people": [],\n  "organizations": ["Apple Inc.", "University of Cambridge"],\n  "locations": ["United Kingdom"],\n  "dates": [],\n  "products": []\n}
4                                 Pfizer’s COVID-19 vaccine received full FDA approval in August 2021.           {\n  "people": [],\n  "organizations": ["Pfizer", "FDA"],\n  "locations": [],\n  "dates": ["August 2021"],\n  "products": ["COVID-19 vaccine"]\n}
2                         John Smith joined Tesla as Director of Supply Chain Operations in June 2022.                           {\n  "people": ["John Smith"],\n  "organizations": ["Tesla"],\n  "locations": [],\n  "dates": ["June 2022"],\n  "products": []\n}
3                               The European Central Bank raised interest rates by 0.5% last Thursday.                   {\n  "people": [],\n  "organizations": ["European Central Bank"],\n  "locations": [],\n  "dates": ["last Thursday"],\n  "products": []\n}
5                   Amazon opened a new fulfillment center in Dallas, Texas to improve delivery times.                                {\n  "people": [],\n  "organizations": ["Amazon"],\n  "locations": ["Dallas", "Texas"],\n  "dates": [],\n  "products": []\n}

can be further extracted using https://docs.teradata.com/r/Enterprise_IntelliFlex_VMware/JSON-Data-Type/JSON-Methods/JSONExtractValue-and-JSONExtractLargeValue

## Use Case 5: Translation

In [44]:
task = "translation"

In [45]:
table_name = "input_"+task
this_prompt = prompts[task]
print(this_prompt)
json_keys = []

Translate the following text into English:

In [46]:
this_query = completeChat_query(
            system_message=this_prompt, 
            table= table_name,
            json_keys=json_keys
           )

In [47]:
print(this_query.replace(os.getenv("OPENAI_API_KEY"),"<OPENAI_API_KEY>"))

    SELECT
        a.*

    FROM
        openai_client.CompleteChat(
            ON input_translation
            USING
                BaseURL('https://api.openai.com')
                SystemMessage('Translate the following text into English: ')
                Model('gpt-5-nano')
                ApiKey('<OPENAI_API_KEY>')
        ) a

In [48]:
tdml.DataFrame.from_query(this_query).to_sql(
    table_name= "output_"+task, 
    if_exists = "replace", 
    primary_index="row_id")

In [49]:
tdml.DataFrame("output_"+task)

                                                         txt                                           response_txt
row_id
3                          Le produit a été livré en retard.                        The product was delivered late.
2              El informe financiero será presentado mañana.       The financial report will be presented tomorrow.
1              Der Kunde war mit dem Service sehr zufrieden.      The customer was very satisfied with the service.
5       Il progetto sarà completato entro la fine dell’anno.  The project will be completed by the end of the year.
4                                          日本の市場は急速に成長しています。                The market in Japan is growing rapidly.

# All Results

In [50]:
tdml.widgets.tab_dfs(
    table_names = [col for task in prompts.keys() 
                         for col in ["input_"+task, "output_"+task]]
    )

# Cleanup

In [51]:
from complete_chat_src.upload_sample_data import remove_sample_data

In [52]:
remove_sample_data()

Dropping table input_text_classification...
Table input_text_classification dropped successfully
Dropping table input_sentiment_analysis...
Table input_sentiment_analysis dropped successfully
Dropping table input_summarization...
Table input_summarization dropped successfully
Dropping table input_named_entity_recognition...
Table input_named_entity_recognition dropped successfully
Dropping table input_translation...
Table input_translation dropped successfully

Tables removed successfully: input_text_classification, input_sentiment_analysis, input_summarization, input_named_entity_recognition, input_translation

In [53]:
from complete_chat_src.install_completechat import uninstall_CompleteChat

In [54]:
uninstall_CompleteChat()

Dropping CompleteChat function from openai_client...
CompleteChat function dropped successfully
Dropping all objects in openai_client...
  Deleted all objects in database openai_client
Dropping database openai_client...
Database openai_client dropped successfully

Uninstallation complete!

In [55]:
tdml.remove_context()

True

# CompleteChat Usage Notes

CompleteChat is a function that leverages Teradata's Massively Parallel Processing (MPP) architecture to enable high-performance integration with OpenAI-compatible inference servers. When you execute a SQL query using CompleteChat, Teradata's Parsing Engine distributes the work across multiple Access Module Processors (AMPs). Each AMP independently processes its portion of the input table and makes API calls to the LLM service in parallel, as shown in the diagram. This parallel execution dramatically accelerates processing of large datasets compared to sequential API calls from a single client.

![](docs/teradata_openai_client_sql_function_flow.png)

The function seamlessly integrates into SQL workflows, making it an ideal component for ETL (Extract, Transform, Load) pipelines. You can combine CompleteChat with standard SQL operations—joins, filters, aggregations, and transformations—to build sophisticated data processing workflows entirely within Teradata. For example, you can extract customer feedback from a data warehouse, transform it using CompleteChat for sentiment analysis or summarization, and load the enriched results into a target table, all within a single SQL statement. This eliminates the need to export data to external systems for AI processing, maintaining data security and governance while reducing latency and complexity.

The function sends HTTP requests to inference servers that implement the OpenAI Chat Completion API standard. Each row in the input table generates a separate API call, with the `txt` column content serving as the user prompt. The model's response is returned as a new column in the output table, alongside all original input columns.

CompleteChat includes built-in rate limiting and retry logic to handle server capacity constraints gracefully. When a server returns a 429 (Too Many Requests) response, the function automatically retries the request according to the configured delay schedule. This makes it suitable for batch processing scenarios where temporary rate limits are expected.

### Why Use CompleteChat

CompleteChat enables data-centric AI workflows by bringing model inference directly into the database layer. This approach offers several advantages:

**Massively Parallel Processing**: Leverage Teradata's MPP architecture to process millions of rows in parallel, with each AMP making independent API calls to maximize throughput.

**Data Locality**: Process data where it resides, avoiding costly data movement and maintaining data governance controls.

**SQL Integration**: Use familiar SQL syntax to incorporate AI capabilities into existing queries, views, and stored procedures.

**ETL Pipeline Integration**: Seamlessly embed LLM inference into Extract, Transform, Load workflows, enabling end-to-end data processing without external tools.

**Batch Processing**: Efficiently process large datasets with automatic handling of rate limits and retries.

**Flexibility**: Connect to multiple inference providers (OpenAI, Azure OpenAI, NVIDIA Triton, Ollama) using a consistent interface.

**Security**: Support for custom TLS certificates ensures secure communication with enterprise inference servers.

The function is particularly valuable for use cases such as text summarization, classification, sentiment analysis, entity extraction, and content generation at scale. By combining SQL's data manipulation capabilities with LLM inference and Teradata's parallel processing power, you can build sophisticated AI pipelines without leaving the database environment.

Applications that benefit from CompleteChat include customer feedback analysis, automated content moderation, document processing, personalized content generation, and data enrichment workflows. The function's configurable parameters allow fine-tuning of model behavior (temperature, penalties) and operational characteristics (retries, timeouts) to match specific requirements.

# Full Function Signature

The **`CompleteChat`** function is a **Java Table Operator (TO)** that enables Teradata SQL queries to call model inference servers exposing an **OpenAI-compatible API**, including:

- [OpenAI](https://platform.openai.com/docs/api-reference/chat)  
- [Azure OpenAI](https://learn.microsoft.com/en-us/azure/ai-services/openai/reference)  
- [NVIDIA Triton Inference Server](https://github.com/triton-inference-server/server)  
- [Ollama](https://ollama.com)  

It uses the [OpenAI Chat Completion API](https://platform.openai.com/docs/api-reference/chat) standard.

## CompleteChat Syntax

```sql
CompleteChat (
    ON {table | view | (query)} -- Data Table
    [ ON {table | view | (query)} DIMENSION ] -- Optional TLS certificate table
 USING
    BaseURL('base_url')
    ApiKey('api_key')
    SystemMessage('system_message')
    Model('model_name')
   
    
    [ IgnoreHTTPSVerification({'True'|'False'}) ]
    [ CustomHeaders('header_1: value_1'[, ...]) ]
    [ Temperature(temperature_value) ]
    [ TopP(top_p_value) ]
    [ FrequencyPenalty(frequency_penalty_value) ]
    [ PresencePenalty(presence_penalty_value) ]
    [ MaxTokens(max_tokens_value) ]
    [ TachyonCallLevelHeaders({'True'|'False'}) ]
    [ RemoveDeepSeekThinking({'True'|'False'}) ]
    [ Delays('delay_1,delay_2,...') ]
    [ RetriesNumber(number_of_retries) ]
    [ ThrowErrorOnRateLimit({'True'|'False'}) ]
    [ OutputTextLength(output_length) ]
    [ OutputProcessingDetails({'True'|'False'}) ]
)
```

## Required Syntax Elements for CompleteChat

### ON clause
Accepts the DataTable clause.

The DataTable must contain a column named `txt` of type `VARCHAR`. This column is treated as the variable **user message** (prompt) sent to the inference server.

### Required Parameters

- **BaseURL**: Specifies the base URL of the inference endpoint. This should exclude the `/v1/chat/completions` path, which is automatically appended by the function.

- **ApiKey**: Specifies the API key used for authentication. This key is passed in the HTTP request as `Authorization: Bearer <APIKEY>`.

- **SystemMessage**: This should be the instruction to the model. E.g. "translate this to English"

- **Model**: Specifies the model name to be used for inference. The model must be available on the specified inference server.

---

## Optional Syntax Elements for CompleteChat

The following are the parameters that you can configure when using the CompleteChat function.

### ON clause
Accepts the TLSCertificateTable clause.

The TLS certificate table is a one-row, one-column table containing a `BLOB` column named `cert`. This table is required only if the inference server enforces a **custom TLS certificate**.

⚠️ **Important:** The TLSCertificateTable cannot be used together with `IgnoreHTTPSVerification=True`. Use either a certificate table **or** ignore verification, but not both.

This table input must be provided with the `DIMENSION` keyword.

### Connection Parameters

- **IgnoreHTTPSVerification**: Specifies whether to disable hostname and certificate verification for HTTPS connections. ⚠️ **Warning:** This option should only be used in development or testing environments, never in production. Default: `False`

### Model & Prompt Parameters

- **CustomHeaders**: Specifies additional HTTP headers to include in the API request. Headers are provided as a list of strings in the format `'header_name: header_value'`. Multiple headers can be specified by providing additional string arguments.

### Request Tuning Parameters

- **Temperature**: Specifies the sampling temperature parameter that controls randomness in the model's responses. Higher values make output more random, while lower values make it more deterministic. Refer to the [OpenAI API documentation](https://platform.openai.com/docs/api-reference/chat) for detailed behavior. Default: Server default

- **TopP**: Specifies the nucleus sampling parameter. An alternative to temperature sampling, TopP considers only the most probable tokens whose cumulative probability exceeds the TopP value. Refer to the [OpenAI API documentation](https://platform.openai.com/docs/api-reference/chat) for detailed behavior. Default: Server default

- **FrequencyPenalty**: Specifies the frequency penalty parameter. Positive values penalize tokens based on their frequency in the generated text, reducing repetition. Refer to the [OpenAI API documentation](https://platform.openai.com/docs/api-reference/chat) for detailed behavior. Default: Server default

- **PresencePenalty**: Specifies the presence penalty parameter. Positive values penalize tokens that have already appeared in the generated text, encouraging topic diversity. Refer to the [OpenAI API documentation](https://platform.openai.com/docs/api-reference/chat) for detailed behavior. Default: Server default

- **MaxTokens**: Specifies the maximum number of tokens to generate in the model response. Default: Server default

- **TachyonCallLevelHeaders**: Specifies whether to include Tachyon-specific headers in the API request and return them in the output. When set to `True`, adds the following headers: `x-request-id`, `x-correlation-id`, `x-wf-request-date`, `x-wf-api-key`. Default: `False`

- **RemoveDeepSeekThinking**: Specifies whether to strip `<think>...</think>` blocks from responses generated by DeepSeek models. When set to `True`, any content within thinking tags is removed from the final response. Default: `False`

### Rate Control Parameters

- **Delays**: Specifies a comma-separated list of retry delays in milliseconds used when the server returns a 429 (rate limit) response. If `RetriesNumber` exceeds the number of specified delays, the last delay value is repeated for additional retries. Default: `500`

- **RetriesNumber**: Specifies the number of retries to attempt after encountering a rate limit response from the server. Default: `0`

- **ThrowErrorOnRateLimit**: Specifies whether to throw an error if the rate limit persists after all retries have been exhausted. When set to `False`, the function returns `NULL` for the response instead of throwing an error. Default: `False`

### Output Options Parameters

- **OutputTextLength**: Specifies the size of the `VARCHAR` field used to store the model response. Accepts values from 2 to 32000. Larger values accommodate longer responses but consume more storage space. Default: `16000`

- **OutputProcessingDetails**: Specifies whether to include diagnostic columns in the output that provide information about the processing and retry behavior. When set to `True`, additional columns are added: `retries_made`, `last_attempt_duration`, `rate_limit_exceeded`, `rate_limit_exceeded_error_details`. Default: `False`

---

## CompleteChat Input

### DataTable Schema

| Column | Data Type | Description |
|--------|-----------|-------------|
| txt | VARCHAR | The DataTable column that contains the user message (prompt) to send to the inference server. This column is mandatory. |
| Other columns | Any | Any additional columns in the DataTable are passed through to the output table unchanged. |

### TLSCertificateTable Schema

| Column | Data Type | Description |
|--------|-----------|-------------|
| cert | BLOB | The column that contains the custom TLS certificate data. This is a one-row, one-column table. |

---

## CompleteChat Output

### Output Table Schema

The output table repeats all columns from the input DataTable, plus the following:

#### Base Output Columns

| Column | Data Type | Description |
|--------|-----------|-------------|
| response_txt | VARCHAR(OutputTextLength) | The model's response text. The length is determined by the OutputTextLength parameter (default: 16000). |

#### Tachyon Headers (when TachyonCallLevelHeaders='True')

| Column | Data Type | Description |
|--------|-----------|-------------|
| x_request_id | VARCHAR(36) | The unique request identifier used in Tachyon headers. |
| x_correlation_id | VARCHAR(36) | The correlation identifier used in Tachyon headers. |
| x_wf_request_date | VARCHAR(30) | The request date timestamp used in Tachyon headers. |

#### Processing Details (when OutputProcessingDetails='True')

| Column | Data Type | Description |
|--------|-----------|-------------|
| retries_made | INT | The number of retry attempts made for this request. |
| last_attempt_duration | INT | The duration in milliseconds of the last attempt to call the inference server. |
| rate_limit_exceeded | INT | Indicates whether rate limiting was encountered: `0` if the request succeeded, `1` if still rate-limited after all retries. |
| rate_limit_exceeded_error_details | VARCHAR(3000) | Contains error details if the rate limit persisted after all retry attempts. |

---

# Installation

The installation process is encapsulated in the `complete_chat_scr.install_completechat.install_CompleteChat` function.

Here are the steps in a nutshell if you are interested:

**Prerequisites:**
- DBC user credentials with administrative privileges
- The Java JAR file `openai.client-1.0.2.jar` containing the CompleteChat implementation

**Installation Steps:**

1. **Create dedicated database:** A new database (default: `openai_client`) is created with appropriate permanent space allocation based on the number of AMPs (8MB per AMP).

2. **Grant necessary permissions:** The installer grants `CREATE EXTERNAL PROCEDURE` and `CREATE FUNCTION` privileges to the DBC user on the target database.

3. **Install the JAR file:** The Java archive containing the CompleteChat table operator is installed into Teradata using `SQLJ.INSTALL_JAR` and registered with the identifier `OPENAI_CLIENT`.

4. **Create the CompleteChat function:** The function is registered as a table operator that returns varying table results, using the `OpenAIClientTO_contract` interface and the `OpenAIClientTO.execute()` method from the installed JAR.

**Result:** The CompleteChat function becomes available as `openai_client.CompleteChat()` and can be called from any SQL query by users with appropriate permissions.

# Acknowledgment

This function was ideated and developed by the marvelous Mr. Alexander Smirnov, the only distinguished data scientist at Teradata.